<!DOCTYPE html>
<html>
    <head>
        <title>Home Osmond</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/0bd7229511.js"></script>
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- Smartsupp Live Chat script -->
        <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '5fc02835556f3b72c065cfcc21240cc6a7b75740';
        window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
        })(document);
        </script>
        <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mainrow">
                
                <section class="iconSection">
                    <div class="icon-social">
                        <a href="#" style="background-color: #4267b2;">
                            <i class="lab la-facebook-f"></i>
                            
                        </a>
                        
                        <a href="#" style="background-color: #1DA1F2;">
                            <i class="lab la-twitter"></i>
                        </a>    
                        
                        <a href="#" style="background-color: #FF0000;">
                            <i class="lab la-youtube"></i>
                        </a>    

                    </div>
                </section>    
                <div class="col-sm-3 r1col1">
                    <p class="name">
                        <span class="fletter">O</span>smond

                    </p>
                    
                    <p>
                        <ul>
                            <li>
                                <a class="active" href="/">
                                    <i class="fa fa-home" aria-hidden="true"></i> Home
                                </a>
                            </li>

                            <li>
                                <a href="/about">
                                    <i class="fa fa-user" aria-hidden="true"></i> About me
                                </a>
                            </li>

                            <li>
                                <a href="/education">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education
                                </a>
                            </li>

                            <li>
                                <a href="/services">
                                    <i class="fa fa-bars" aria-hidden="true"></i> Services
                                </a>
                            </li>

                            <li>
                                <a href="/contact">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> Contact me
                                </a>
                            </li>

                            
                        </ul>
                    </p>
                </div>
                <div class="col-sm-9 r1col2">
                    
  
                 
                   <div class="row" style="border: 1px solid yellow;height: 150px;">
                       <!--Admin Button-->
                          <a href="#">
                             <button class="btn btn-danger" style="float: right;">
                                <i class="fa fa-user" aria-hidden="true"></i>Admin
                                
                                
                             </button>
                          </a>
                   </div>
                       
                   <div class="row" style="border: 1px solid blue;height: 450px;">
                        <div class="col-sm-8" style="border: 1px solid rgb(20, 218, 106);height: 450px">
                            <h2>Hello,My name is <span class="fletter">Osmond Odera</span></h2>
                            <h3>I am a <span class="fletter">full stack web developer</span> </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat libero elit, quis porta dui dignissim luctus. Morbi eget mauris vel libero porttitor semper vel in lectus. Nulla purus nibh, laoreet a dui ac, tincidunt fermentum nisl. Mauris tristique sit amet dui non porttitor. Nulla facilisi. Duis tristique velit neque, ut interdum mauris ultrices ac. Nulla aliquam congue sapien, eu egestas diam consectetur aliquam. Nulla nec condimentum orci. Phasellus laoreet luctus lectus, et pellentesque felis dignissim a. Quisque at turpis quam. Morbi tincidunt, quam a pulvinar vehicula, neque massa condimentum neque, id laoreet elit ipsum quis ipsum. Donec nulla justo, vehicula vitae tristique nec, dapibus fringilla nibh
                            </p>

                            <a href="#">
                                <button class="btn btn-danger">
                                   <i class="fa fa-user" aria-hidden="true"></i> Hire Me
                                </button>
                             </a>
                        </div>
                        <div class="col-sm-4" style="border: 1px solid red;height: 450px">
                            <img src="/static/images/sd.jpg" width="200px">
                        
                        </div>
                
                   </div>
                       
                   

                </div>
            </div>

            </div>


            
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>